ACTION=="add", KERNEL=="mouse[0-9]*", RUN+="/usr/bin/eta-check-inputdevice udev plugged"
ACTION=="remove", KERNEL=="mouse[0-9]*", RUN+="/usr/bin/eta-check-inputdevice udev unplugged"
