[Unit]
Description=Pardus ETAP inputdevice runtime detection service
Before=kdm.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/eta-check-inputdevice

[Install]
WantedBy=multi-user.target
