[Unit]
Description=Pardus ETAP inputdevice runtime detection service
Before=kdm.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/eta-check-inputdevice
Restart=on-failure

[Install]
WantedBy=multi-user.target
