Source: eta-check-inputdevice
Section: utils
Priority: optional
Maintainer: Fatih Altun <fatih.altun@pardus.org.tr>
Uploaders: Yunusemre Şentürk <yunusemre.senturk@pardus.org.tr>
Build-Depends: debhelper (>= 9), dh-systemd, qtbase5-dev, libudev-dev
Standards-Version: 3.9.6
Homepage: http://pardus.org.tr

Package: eta-check-inputdevice
Architecture: any
Pre-Depends: systemd, udev
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: eta-check-inputdevice (<< 0.2)
Conflicts: eta-check-optictouch (<< 0.1.15)
Replaces: eta-check-optictouch (<< 0.1.15)
Provides: eta-check-optictouch
Description: ETAP Giriş Cihazları Denetcisi
 Harici olarak takılan fareleri tespit etmeye yarayan
 udev ve systemd kullanan bir betik içermektedir.
